<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "es" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    {{ partial "seo-schema.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ $style := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
<body>

    <!-- Parcial Header -->
    {{ partial "header.html" . }}

    <main class="container">
        {{ block "main" . }}{{ end }}
    </main>

    <!-- Parcial Footer (Incluye el script app.js) -->
    {{ partial "footer.html" . }}

</body>
</html>